html, body {
    font-family: "Roboto", sans-serif;

    height: 100%;
    margin: 0;
    padding: 0;

    background-image: linear-gradient(to bottom, rgb(46, 46, 46), rgb(0, 0, 0));
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr; /* horizontal ratios */
    grid-template-rows: 1fr 2fr; /* vertical ratios */

    grid-template-areas:
        "header header logs" /* header merged */
        "controls responses logs";

    height: 100vh;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    grid-area: header;
}

.controls {
    grid-area: controls;

    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

#enter {
    margin-bottom: 20px;
}

#wrCommandArg2, #keyCommandArg2 {
    display: none;
}

#logList {
    list-style: none;
}

#logList li:first-child {
    font-size: 22px;
    margin-bottom: 10px;
}

.responses {
    grid-area: responses;

    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

#responsesList {
    list-style: none;
}

#responsesList li:first-child {
    font-size: 22px;
    margin-bottom: 20px;
}

#responsesList li {
    margin-bottom: 10px;
}

.logs {
    grid-area: logs;

    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

#logList {
    list-style: none;
}

#logList li:first-child {
    font-size: 22px;
    margin-bottom: 10px;
}

.controlButtons, .contentHeaders {
    display: none;
}

.contentHeaders {
    margin-top: 0;
}

.item {
    border-radius: 1em;
    background-color: white;
    padding: 30px;
}

.item *:first-child {
    margin-top: 0;
}

.bad {
    color: red;
}

.good {
    color: green;
}