#list {
    list-style: none;
    padding-left: 20px;
    width: 70px;
}

#list li:first-child {
    font-size: 22px;
    margin-bottom: 10px;
}

#playframe {
    position: absolute;
    left: 70%;
    width: 30%
}