#list {
    list-style: none;
    padding-left: 20px;
    width: 70px;
}

html, body {
    background-image: linear-gradient(to bottom, rgb(46, 46, 46), rgb(0, 0, 0));
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

#list li:first-child {
    font-size: 22px;
    margin-bottom: 10px;
}

.pl {
    display: block;
    margin-right: 1%;
    margin-top: 1%;
    background-color: black;
    width: 95%;
    height: 30%;
    position: absolute;
    left: 2.5%;
    background-color: white;
    border-radius: 1em;
    top: 2.5%;
}

.chat {
    display: block;
    margin-right: 1%;
    margin-top: 1%;
    background-color: black;
    width: 95%;
    height: 57.5%;
    position: absolute;
    left: 2.5%;
    top: 35%;
    border-radius: 1em;
    background-color: white;
    overflow: hidden;
}
.interdiv {
    margin-left: 20px;
}
li {
  margin-left: 20px;  
}
* {
  font-family: "Roboto", sans-serif;
}

/*.chat, .pl {
    background-image: radial-gradient(circle at center, #e5e5e5 1px, transparent 0);
    background-size: 20px 20px;
}*/